<!DOCTYPE html>
<html>
    <head>
        <title>db Connect Test</title>
    </head>
    <body>
        <h1>Connect Status</h1>
        <p><%=connect%></p>
        <h1>Connect failure?</h1>
        <p><%=err%></p>
    </body>
</html>