<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="./style.css"/>
    </head>
    <body>
        <form action="">
            <div name="caution_title">
                <h3>해당 글을 삭제하시겠습니까?</h3>
            </div>
            <div>
                <input type="password" name="password" placeholder="비밀번호 입력">
                <div>
                    <button type="submit">삭제</button>
                    <button>취소</button>
                </div>
            </div>
        </form>
    </body>
    
</html>